.header__btn {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  padding: 10px 20px;
  display: inline-block;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid #2c2c2c;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}
.header__btn:last-child {
  margin-right: 0;
}
.header__btn:hover, .header__btn.js-active {
  color: #fff;
  background-color: #2c2c2c;
}

.header {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.header__title {
  margin-bottom: 30px;
  font-size: 2.1rem;
}

.content {
  width: 95%;
  margin: 0 auto 50px;
}

.content__title {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}

.content__title--m-sm {
  margin-bottom: 10px;
}

.multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.multisteps-form__progress-btn {
  color: rgba(108, 117, 125, 0.7);
  border: none;
  background-color: transparent;
}

.multisteps-form__progress-btn {
    border-bottom: 2px solid;
    font-weight: 600;
    padding-top: 20px;
    font-size: 24px;
    }

@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}
.multisteps-form__progress-btn:before {display: block;/* content: ''; */}
.multisteps-form__progress-btn:first-child:after {
  display: none;
}
.multisteps-form__progress-btn.js-active {
  color: #007bff;
}
.multisteps-form__progress-btn.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
          transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}

.multisteps-form__form {
  position: relative;
}

.multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.multisteps-form__panel[data-animation="scaleOut"] {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.multisteps-form__panel[data-animation="scaleOut"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.multisteps-form__panel[data-animation="slideHorz"] {
  left: 50px;
}
.multisteps-form__panel[data-animation="slideHorz"].js-active {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  transition-delay: 0s;
  left: 0;
}
.multisteps-form__panel[data-animation="slideVert"] {
  top: 30px;
}
.multisteps-form__panel[data-animation="slideVert"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  top: 0;
}
.multisteps-form__panel[data-animation="fadeIn"].js-active {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.multisteps-form__panel[data-animation="scaleIn"] {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.multisteps-form__panel[data-animation="scaleIn"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*=======================================  =======================================*/
.multisteps-form__progress-btn:focus {
    outline: none;
}

.multisteps-form__progress-btn.js-active {
    border-bottom-color: #01a572;
}

.multisteps-form__progress-btn.js-active {
    color: #222;
}

.multisteps-form__progress-btn {
    color: #d0d0d0;
}

.multisteps-form__progress {
    margin-bottom: 40px;
}

.multisteps-form .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        border-width: 1px;
		border-color: #00000000 #00000000 #01a572 #00000000;
}
.multisteps-form .nav-tabs>li.active>a {
    color: #01a572;
}
.multisteps-form .nav-tabs>li {
    width: 50%;
    text-align: center;
}


.multisteps-form .nav-tabs {
    margin-bottom: 20px;
}

.multisteps-form  .nav-tabs>li>a {
    font-weight: 500;
    font-size: 20px;
    color: #222;
    border-radius: 0;
}
.multisteps-form .nav-tabs>li>a:hover {
    border: 1px solid #01a572;
	background-color: #fff;
}
.multisteps-form label {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 20px;
    margin-top: 20px;
}
.multisteps-form .form-control {
    border-radius: 0;
    border-width: 0 0 1px 0;
    box-shadow: none;
    padding: 6px 0;
}
.multisteps-form .form-control:focus {
    border-color: #01a572;
}
.multisteps-form .input-group-addon:last-child {
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    padding: 0;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
}

.multisteps-form .input-group-addon:last-child a {
    color: #01a572;
}

.multisteps-form .input-group-addon:last-child a {
    color: #01a572;
    font-weight: 500;
    text-align: right;
    padding: 0;
	font-size: 16px;
}
.multisteps-form button.btn {font-size: 20px;
    line-height: 30px;
    padding: 10px;
    margin-top: 30px;}